@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

main {
  padding: 30px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
}

* {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

body {
  background-color: #f9f8f5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  padding: 20px 20px 20px 40px;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .header {
    padding: 20px 20px 20px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}
.header .logo {
  width: 300px;
  height: 90px;
}
@media (max-width: 575px) {
  .header .logo {
    width: 200px;
    height: 80px;
  }
}
.header .mob-hamburger {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 38px;
  height: 28px;
  padding-top: 8px;
  border-top: 4px solid #5a80b1;
  border-top-color: rgb(90, 128, 177);
  border-bottom: 4px solid #5a80b1;
  border-bottom-color: rgb(90, 128, 177);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}
.header .mob-hamburger span {
  display: block;
  height: 4px;
  background-color: #5a80b1;
}
@media (max-width: 991px) {
  .header .mob-hamburger {
    display: block;
  }
}

.breadcrumbs {
  padding-top: 20px;
  margin-left: 70px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs li {
  color: #999;
  font-size: 80%;
  line-height: 1.5;
}
.breadcrumbs li::after {
  content: "»";
  padding: 0 5px;
}
.breadcrumbs li:last-child::after {
  content: "";
  padding: 0;
}
.breadcrumbs .link {
  flex-shrink: 0;
  transition: 0.3s;
}
.breadcrumbs .link:hover {
  color: #e66212;
}

.nav_menu {
  display: flex;
  background-color: #5a80b1;
  align-items: center;
  padding: 0 40px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .nav_menu {
    padding: 0;
    flex-direction: column;
    align-items: start;
    display: none;
  }
  .nav_menu.active {
    display: flex;
  }
}
.nav_menu .menu-item {
  white-space: nowrap;
  position: relative;
}
.nav_menu .menu-item::before {
  display: none;
}
@media (max-width: 991px) {
  .nav_menu .menu-item::before {
    content: "+";
    display: block;
    position: absolute;
    right: -50px;
    top: -1px;
    width: 50px;
    height: 54px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    z-index: 2;
    box-sizing: border-box;
  }
}
.nav_menu .menu-item::after {
  display: none;
}
@media (max-width: 991px) {
  .nav_menu .menu-item::after {
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    top: 17px;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
  }
}
@media (max-width: 991px) {
  .nav_menu .menu-item {
    width: calc(100% - 50px);
    padding-right: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.nav_menu .menu-item .menu-item_name {
  color: #fff;
  display: block;
  position: relative;
  padding: 20px 20px;
}
@media (max-width: 991px) {
  .nav_menu .menu-item .menu-item_name {
    padding: 17px 20px;
  }
}
.nav_menu .menu-item .menu-item_name::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  right: auto;
  top: auto;
  margin: 0 0 0 -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .nav_menu .menu-item .menu-item_name::before {
    display: none;
  }
}
.nav_menu .menu-item .menu-item_name:hover {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.nav_menu .menu-item .submenu {
  display: none;
  padding: 0;
  position: absolute;
  background-color: #5a80b1;
  z-index: 2;
}
@media (max-width: 991px) {
  .nav_menu .menu-item .submenu {
    width: 100%;
    width: calc(100% + 50px);
    position: static;
  }
}
.nav_menu .menu-item .submenu .submenu-item {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  z-index: 1;
  position: relative;
}
.nav_menu .menu-item .submenu .submenu-item:hover {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.nav_menu .menu-item .submenu .submenu-item a {
  padding: 18px;
  display: block;
}
@media (max-width: 991px) {
  .nav_menu .menu-item .submenu .submenu-item a {
    padding: 17px 20px 17px 40px;
  }
}
@media (max-width: 991px) {
  .nav_menu .menu-item.active:before {
    content: "-";
    font-size: 30px;
    font-weight: 300;
  }
}
.nav_menu .menu-item.active .submenu {
  display: block;
}

.main {
  padding: 30px 0;
  position: relative;
}
.main .content {
  padding: 20px 30px 30px 10px;
  margin: 0 60px;
}
@media (max-width: 767px) {
  .main .content {
    padding: 20px 30px 30px 0px;
    margin: 0 20px 0 8px;
  }
}
@media (max-width: 575px) {
  .main .content {
    padding: 0 0 20px 0;
    margin: 0 20px 0 8px;
  }
}

.footer {
  margin-top: 10px;
}
.footer .nav_menu {
  padding: 0 20px;
}
.footer .nav_menu .menu-item_name::before {
  display: none;
}
@media (max-width: 991px) {
  .footer .nav_menu {
    display: none;
  }
}
.footer .footer-info {
  padding: 30px 40px 25px 40px;
}
@media (max-width: 991px) {
  .footer .footer-info {
    padding: 30px 20px 25px 20px;
  }
}

.title {
  font-size: 2em;
  padding: 0 20px 0 140px;
  font-weight: 700;
  margin: 0 auto 25px;
  line-height: 1.1;
}
@media (max-width: 991px) {
  .title {
    font-size: 1.6em;
  }
}
@media (max-width: 767px) {
  .title {
    padding: 0 8px 0px 8px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 1.3em;
  }
}
.title.main-title {
  text-align: center;
  padding: 0 20px 20px;
  border-bottom: 2px solid #5a80b1;
}
@media (max-width: 767px) {
  .title.main-title {
    padding: 0 8px 15px;
    text-align: left;
  }
}

.block-title {
  margin: 1.5em 0 0.5em;
  word-wrap: break-word;
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
}
.block-title_center {
  text-align: center;
}
.block-title_mb20 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .block-title {
    font-size: 1.4em;
  }
}
@media (max-width: 575px) {
  .block-title {
    font-size: 1.2em;
  }
}

.text {
  margin-bottom: 25px;
  font-size: 14px;
  word-wrap: break-word;
}

.numered-list {
  counter-reset: num;
  font-size: 13px;
  margin-bottom: 20px;
}
.numered-list li {
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
}
.numered-list li a {
  color: #428bca;
  margin-left: 35px;
}
.numered-list li a:hover {
  color: #e66212;
}
.numered-list li:before {
  content: counter(num) "";
  counter-increment: num;
  position: absolute;
  top: 5px;
  left: 0;
  color: #333;
  font-size: 13px;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 2px solid #425d9d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simple-list {
  margin: 1.7em 0 1.8em 1em;
  padding: 0;
  list-style: none;
  font-size: 13px;
}
.simple-list li {
  list-style: none;
  padding-left: 40px;
  margin: 0.7em 0;
}
.simple-list li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #5a80b1;
  margin: 0 22px 0 -30px;
}

.scrolltop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  opacity: 0.7;
  background-color: #ccc;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 500;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.scrolltop.active {
  display: flex;
}
.scrolltop:hover {
  opacity: 1;
}
.scrolltop img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.warning {
  padding: 20px 30px 20px 70px;
  margin: 35px 0;
  position: relative;
  clear: both;
  line-height: 1.4;
  color: #777;
  background: #fff4d4;
  border-radius: 0 6px 6px 0;
}
.warning:before {
  content: "!";
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f58128;
}

.page.content {
  margin: 0 60px;
  padding: 0px 40px;
}
@media (max-width: 1200px) {
  .page.content {
    margin: 0 auto;
    padding: 0 20px;
  }
}
.page .text {
  font-size: 16px;
  line-height: 1.4;
  color: #777;
  margin-top: 15px;
  margin-bottom: 20px;
}
.page .text:first-child {
  margin-top: 0;
}
.page .book-description {
  display: flex;
  gap: 10px;
}
@media (max-width: 575px) {
  .page .book-description {
    flex-direction: column;
  }
}
.page .book-description .book-cover img {
  max-width: 150px;
  height: auto;
  border-style: none;
  margin: 0 45px 0 0;
}

.razdely_uchebn {
  font-weight: 500;
  font-size: 19px;
  color: #333;
  margin-bottom: 10px;
}
.razdely_uchebn a {
  color: #428bca;
  font-weight: 400;
  transition: 0.3s;
}
.razdely_uchebn a:hover {
  color: #e66212;
}
.razdely_uchebn p.bold {
  font-weight: 600;
}

.lessons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.lessons-list li {
  width: 45%;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  max-width: 45%;
}
.lessons-list li a {
  display: block;
  color: #444;
  padding: 5px 10px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.lessons-list li a img {
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
}
.lessons-list li a:hover {
  text-decoration: underline;
}

.img_link {
  margin-bottom: 15px;
}
.img_link a {
  display: inline-block;
  min-width: 48px;
  height: 28px;
  line-height: 29px;
  color: #fff;
  background: #7a37e5;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.img_link a:focus {
  color: #e66212;
}
.img_link a:after {
  content: "";
  display: none;
  position: absolute;
  width: 15px;
  height: 17px;
  background: url("../../img/icons/gal.png") 0 0 no-repeat;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -7px;
  z-index: 10;
}
.img_link a:hover {
  color: #fff;
  background: #fff;
  -moz-box-shadow: inset 0 0 0 1px #7a37e5;
  -webkit-box-shadow: inset 0 0 0 1px #7a37e5;
  box-shadow: inset 0 0 0 1px #7a37e5;
}
.img_link a:hover::after {
  display: block;
}

.answer {
  width: 100%;
  height: auto;
}

.collapse-container .zadanie {
  height: 144px;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
}
.collapse-container .opened {
  display: none;
}
.collapse-container.active .zadanie {
  height: max-content;
}
.collapse-container.active .opened {
  display: block;
}
.collapse-container.active .collapsed {
  display: none;
}
.collapse-container .switch {
  margin-left: auto;
  width: max-content;
  cursor: pointer;
  text-decoration: underline;
}

.social-networks {
  border: 6px solid #efede7;
  padding: 20px;
  margin: 0 40px;
}
@media (max-width: 1200px) {
  .social-networks {
    margin: 0 20px 0 8px;
  }
}
.social-networks p {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 13px;
}
.social-networks .icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.social-networks .icons .icon {
  width: 35px;
  height: 30px;
}
.social-networks .icons a:hover .icon {
  transition: 0.3s;
  opacity: 0.7;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.rate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px 20px;
}
@media (max-width: 1200px) {
  .rate-wrapper {
    margin: 0 20px 20px 8px;
  }
}
.rate-wrapper .rate-title {
  font-size: 1.05em;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.rate-wrapper .rate-text p {
  font-size: 13px;
  font-style: italic;
}
.rate-wrapper .rate-text p .value {
  font-weight: 600;
}
.rate-wrapper .no-ratings {
  display: none;
}
.rate-wrapper .are-ratings {
  display: block;
}
.rate-wrapper.empty .no-ratings {
  display: block;
}
.rate-wrapper.empty .are-ratings {
  display: none;
}
.rate-wrapper .rate {
  align-self: start;
}
.rate-wrapper .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate-wrapper .rate:not(:checked) > label {
  float: right;
  width: 27px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.rate-wrapper .rate > input:checked ~ label path {
  fill: #5a80b1;
}
.rate-wrapper .rate:not(:checked) > label:hover path,
.rate-wrapper .rate:not(:checked) > label:hover ~ label path {
  fill: #5a80b1;
}
.rate-wrapper .rate > input:checked + label:hover path,
.rate-wrapper .rate > input:checked + label:hover ~ label path,
.rate-wrapper .rate > input:checked ~ label:hover path,
.rate-wrapper .rate > input:checked ~ label:hover ~ label path,
.rate-wrapper .rate > label:hover ~ input:checked ~ label path {
  fill: #5a80b1;
}

.flex-container {
  display: flex;
  gap: 90px;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 1200px) {
  .flex-container {
    gap: 30px;
  }
}
.flex-container .main-title {
  text-align: left;
  padding-left: 0;
}
@media (max-width: 1200px) {
  .flex-container {
    padding: 0 20px;
  }
}
.flex-container .left {
  flex-grow: 1;
}
.flex-container .right {
  width: 300px;
  height: 500px;
  background: #000;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .flex-container .right {
    display: none;
  }
}

.feedback-form {
  margin-top: 20px;
  font-size: 17px;
}
.feedback-form .feedback-field {
  padding: 7px 15px;
  margin-bottom: 7px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  border: 1px solid #ccc;
  display: block;
  border-radius: 4px;
}
.feedback-form .feedback-field::placeholder {
  font-size: inherit;
}
.feedback-form .feedback-field:focus {
  border: 1px solid #000;
}
.feedback-form .feedback-field.error {
  border: 1px solid red;
}
.feedback-form input {
  width: 60%;
}
.feedback-form textarea {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .cards {
    gap: 20px;
    justify-content: center;
  }
}
.cards .card {
  width: 330px;
}
@media (max-width: 1200px) {
  .cards .card {
    width: 280px;
  }
}
@media (max-width: 991px) {
  .cards .card {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .cards .card {
    width: 45%;
  }
}
@media (max-width: 575px) {
  .cards .card {
    width: 330px;
  }
}
@media (max-width: 440px) {
  .cards .card {
    width: 280px;
  }
}
.cards .card:hover .card-top {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  opacity: 1;
}
.cards .card .card-top {
  height: 140px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  padding: 10px 15px;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cards .card .card-top .comments {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 15px;
}
.cards .card .card-top .comments::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 12px;
  font-size: 13px;
  width: 14px;
  height: 14px;
  background-image: url("../../img/icons/comment.svg");
}
.cards .card .card-top .category {
  font-size: 0.8em;
  line-height: 1.7;
  color: #fff;
  margin-right: 30px;
}
.cards .card .card-title {
  color: #333;
  margin-bottom: 14px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 19px;
  line-height: 1.1;
}
.cards .card .card-title:hover {
  color: #e66212;
}
.cards .card .card-text {
  font-size: 0.8em;
  line-height: 1.5;
  color: #333;
}
.cards .card .card-text.card-numbers {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}