.lessons-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        width: 45%;
        text-align: center;
        margin: 5px;
        margin-bottom: 15px;
        max-width: 45%;
        a {
            display: block;
            color: #444;
            padding: 5px 10px;
            font-size: 17px;
            text-align: center;
            text-decoration: none;
            transition: 0.3s;
            img {
                width: 200px;
                object-fit: cover;
                margin: 0 auto;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
