.breadcrumbs {
    padding-top: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    @include for-767-px {
        display: none;
    }
    & li {
        color: #999;
        font-size: 80%;
        line-height: 1.5;
        &::after {
            content: "»";
            padding: 0 5px;
        }
        &:last-child {
            &::after {
                content: "";
                padding: 0;
            }
        }
    }
    .link {
        flex-shrink: 0;
        transition: 0.3s;
        &:hover {
            color: #e66212;
        }
    }
}
