.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.forhover {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 0.3s;
        display: none;
    }
    &:hover {
        &::after {
            display: block;
        }
    }
}
