.flex-container {
    display: flex;
    gap: 90px;
    justify-content: space-between;
    padding: 0 40px;
    @include for-1200-px {
        padding: 0 20px;
        gap: 30px;
    }
    @include for-767-px {
        padding: 0 8px;
    }
    .main-title {
        text-align: left;
        padding-left: 0;
    }
    .left {
        flex-grow: 1;
    }
    .right {
        width: 300px;
        flex-shrink: 0;
        @include for-991-px {
            display: none;
        }
    }
}
.feedback-form {
    margin-top: 20px;
    font-size: 17px;
    .feedback-field {
        padding: 7px 15px;
        margin-bottom: 7px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: #333;
        border: 1px solid #ccc;
        display: block;
        border-radius: 4px;
        &::placeholder {
            font-size: inherit;
        }
        &:focus {
            border: 1px solid #000;
        }
        &.error {
            border: 1px solid red;
        }
    }
    input {
        width: 60%;
    }
    textarea {
        width: 100%;
    }
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    @include for-767-px {
        gap: 20px;
        justify-content: center;
    }
    .card {
        width: 330px;
        @include for-1200-px {
            width: 280px;
        }
        @include for-991-px {
            width: 330px;
        }
        @include for-767-px {
            width: 45%;
        }
        @include for-575-px {
            width: 330px;
        }
        @include for-440-px {
            width: 100%;
        }
        &:hover {
            .card-top {
                background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
                opacity: 1;
            }
        }
        .card-top {
            height: 140px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            padding: 10px 15px;
            position: relative;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            .comments {
                color: #fff;
                position: absolute;
                bottom: 10px;
                right: 15px;
                font-size: 15px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    right: 12px;
                    font-size: 13px;
                    width: 14px;
                    height: 14px;
                    background-image: url("../../img/icons/comment.svg");
                }
            }
            .category {
                font-size: 0.8em;
                line-height: 1.7;
                color: #fff;
                margin-right: 30px;
            }
        }
        .card-title {
            color: #333;
            margin-bottom: 14px;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-weight: 700;
            font-size: 19px;
            line-height: 1.1;
            &:hover {
                color: #e66212;
            }
        }
        .card-text {
            font-size: 0.8em;
            line-height: 1.5;
            color: #333;
        }
    }
}
.widget-title {
    margin: 0 0 15px;
    padding: 15px 0 19px;
    font-weight: 700;
    font-size: 110%;
    border-bottom: 1px solid #dadada;
}
.widget-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        color: #428bca;
        list-style: none;
        line-height: 1.5;
        font-size: 16px;
        position: relative;
        padding: 6px 0 6px 25px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
        &:before {
            content: ">";
            position: absolute;
            top: 9px;
            left: 3px;
            color: #ccc;
        }
        a {
            &:hover {
                color: #e66212;
            }
        }
    }
}
