.footer {
    margin-top: 10px;
    .nav_menu {
        padding: 0 20px;
        .menu-item_name {
            &::before {
                display: none;
            }
        }
        @include for-991-px {
            display: none;
        }
    }
    .footer-info {
        padding: 30px 40px 25px 40px;
    }
}
