.nav_menu {
    display: flex;
    background-color: #5a80b1;
    align-items: center;
    padding: 0 40px;
    .menu-item {
        white-space: nowrap;
        position: relative;
        cursor: pointer;

        .menu-item_name {
            color: #fff;
            display: block;
            position: relative;
            padding: 20px 20px;
            &::before {
                content: "";
                position: absolute;
                bottom: 4px;
                left: 50%;
                right: auto;
                top: auto;
                margin: 0 0 0 -2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 3px 0 3px;
                border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
                transition: 0.3s;
            }
            &:hover {
                transition: 0.3s;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .submenu {
            display: none;
            padding: 0;
            position: absolute;
            background-color: #5a80b1;
            z-index: 1;
            .submenu-item {
                color: #fff;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                white-space: nowrap;
                z-index: 1;
                position: relative;
                &:hover {
                    transition: 0.3s;
                    background-color: rgba(255, 255, 255, 0.1);
                }
                & a {
                    padding: 18px;
                    display: block;
                }
            }
        }
        &.active {
            .submenu {
                display: block;
            }
        }
    }
}
